<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-center">
        <h1>Welcome</h1>
        <hr />
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100" *ngIf="showError">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h3 class="alert alert-danger">{{ errorMessage }}</h3>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form name="login">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="user.email"
              #email="ngModel"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="user.password"
              #password="ngModel"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              (click)="login()"
              class="btn btn-primary btn-lg pull-right"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
