table {
  /* border-collapse: collapse; */
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

div {
  overflow-x: auto;
  margin-top: 1%;
  align-content: center;
}

input[type="text"],
input[type="number"],
select,
.rating,
.clearFilter {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.addProduct {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #7bb19d;
}

.action:hover {
  cursor: pointer;
}
.action {
  text-align: center;
}

.close:hover {
  cursor: pointer;
}
.close {
  font-weight: bold;
  margin-left: 10px;
}
button:hover {
  cursor: pointer;
}
.paginator {
  margin: 0;
  text-align: right;
}

.centerAlign {
  text-align: center;
}
.loaderAlign {
  width: 90%;
  margin: 0;
  margin-left: 48%;
  margin-top: 11%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 85px;
  height: 85px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-link {
  color: black;
  
}
